# Byte-compiled / optimized / DLL files
__pycache__/

# PMB for testing
pmbmini
pmb-gold-english

# Personal scribbling file
scratch work
sketchnotes.txt

# imported DRS parsing folder
DRS_parsing

# results
results